backend/vendor
backend/node_modules
backend/.env
backend/.git
backend/.gitignore
backend/.editorconfig
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/public/storage
backend/public/hot
backend/public/build
backend/.phpunit.result.cache
backend/tests/Coverage
backend/.DS_Store
backend/Thumbs.db